.logo {
    height: 100%; // default, change for reusability
    border: 2px solid white;
    box-shadow: inset 0 0 4px #fff;
    border-radius: 8px;
    box-sizing: border-box;

    &--side-drawer {
        width: 67px;
        height: 55px;
    }

    &__img {
        height: 100%;
        padding: 5px;
        box-sizing: border-box;

        &--side-drawer {
            height: 50px;
        }
    }
}