.order {
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 1.5em auto;
    box-sizing: border-box;
    background: #f8f8ee;

    &__ingredient {
        text-transform: capitalize;
        display: inline-block;
        margin: 0 8px 8px 0;
        border: 1px solid #ccc;
        padding: 5px;
    }
}