@import 'src/styles/variables';

.build-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    font-size: 0.9em;
    background: $yellow;
    box-shadow: 0 3px 2px #d8d5d5;

    &__price {
        margin-bottom: 1em;
        font-size: 1.1em;
        font-weight: 700;
    }

    &__btn {
        margin: 15px 0;
    }
}

@media (min-width: 420px) {
    .build-controls {
        font-size: 1em;
    }
}
