%bread-edges {
    border-left: 5px solid #d48113;
    border-right: 5px solid #f2c22e;
    box-sizing: border-box;
}

@mixin ingredients-basic($width, $height, $margin, $background, $border-radius) {
    width: $width;
    height: $height;
    margin: $margin;
    background: $background;
    border-radius: $border-radius;
}

%seed-basic {
    position: absolute;
    width: 6%;
    height: 9%;
    background: white;
    border-radius: 3px;
    border-bottom: 2px solid #dfd4d4;
    box-shadow: 2px 0px #ddd2d2;
}

%seed-pseudo {
    content: "";
    width: 100%;
    height: 100%;
}

@mixin seed-moved($top, $left, $rotateByDeg) {
    top: $top;
    left: $left;
    transform: rotate($rotateByDeg);
}

// styles
.burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow-y: auto; // scroll instead of auto makes scrollbar appear needlessly
    margin: 30px auto;
    padding: 3.5em 0;
    text-align: center;

    // &::-webkit-scrollbar {
    //     display: none;
    // }

    &__message {
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    &__bread-top {
        @include ingredients-basic(90%, 21%, 2% auto, linear-gradient(to bottom right,#d37e0c, #f7db3e), 37% 37% 8px 8px);
        @extend %bread-edges;
        position: relative;
    }

    &__bread-bottom {
        @include ingredients-basic(90%, 17%, 2% auto, linear-gradient(to bottom right,#d37e0c, #f7db3e), 8px 8px 30px 30px);
        @extend %bread-edges;
    }

    &__seed1 {
        @extend %seed-basic;
        @include seed-moved(30%, 29%, 30deg);

        &::before {
            @extend %seed-pseudo;
            @extend %seed-basic;
            @include seed-moved(683%, -219%, 325deg);
        }
    }

    &__seed2 {
        @extend %seed-basic;
        @include seed-moved(46%, 67%, 190deg);

        &::before {
            @extend %seed-pseudo;
            @extend %seed-basic;
            @include seed-moved(-206%, 301%, -47deg);
        }

        &::after {
            @extend %seed-pseudo;
            @extend %seed-basic;
            @include seed-moved(247%, -247%, -26deg);
        }
    }

    &__meat {
        @include ingredients-basic(83%, 14%, 2% auto, linear-gradient(#c66522, #672f0f), 20px);
    }

    &__cheese {
        @include ingredients-basic(86%, 5%, 2% auto, linear-gradient(#f7d700, #ded215), 17px 13px);
    }

    &__bacon {
        @include ingredients-basic(85%, 7%, 2% auto, linear-gradient(#daa7c7, #be3ec2), 31%  26% 20% 10%);
    }

    &__salad {
        @include ingredients-basic(84%, 10%, 2% auto, linear-gradient(#6fad14, #0f6711), 32px 40px);
    }
}

// RWD
@media (min-width: 420px) {
    .burger {
        width: 370px;
        height: 285px; // a scrollbar appear needlessly if the height is too little (margins!)
    }
}

@media (min-width: 768px) {
    .burger {
        width: 500px;
        height: 390px; // a scrollbar appear needlessly if the height is too little (margins!)
    }
}