@import 'src/styles/variables';

.btn-modal {
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;

    &--success {
        color: $green;
    }

    &--danger {
        color: $dark-gray;
    }
}