.build-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;


    &__label {
        width: 90px;
        margin: 0;
        font-size: 1.1em;
    }

    &__btn {
        margin: 0 8px;
    }
}

@media (min-width: 420px) {
    .build-control {
        &__label {
            width: 105px;
        }
    }
}