.checkout-summary {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 0.9em;

    &__btn {
        margin: 1em 0.3em;
    }
}

@media (min-width: 420px) {
    .checkout-summary {
        width: 400px;
        font-size: 1em;

        &__btn {
            margin: 1em;
        }
    }
}

@media (min-width: 600px) {
    .checkout-summary {
        width: 500px;
    }
}