@import 'src/styles/variables';

.toolbar {
    height: $toolbar-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #c06123;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 70;

    &__logo-wrap {
        height: 75%;
        cursor: pointer;
    }
}

.nav {
    height: 100%;
}


@media (max-width: 499px) {
	.nav--hide-on-mobile {
		display: none;
	}
}