$modal-width: 90%;

.modal {
    opacity: 0;
    transform: translateY(-100vh);
    position: fixed;
    left: calc((100% - #{$modal-width}) / 2);
    top: 0; // will change depending on the viewport height
    width: $modal-width;
    padding: 5px 15px;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #766c6c;
    border-radius: 4px;
    box-shadow: 0 0 4px #757a60;
    transition: all 0.3s ease-out;
    box-sizing: border-box;

    &--show {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 600px) {
    $modal-width: 500px;

    .modal {
        width: $modal-width;
        left: calc((50% - (#{$modal-width}) / 2));
        padding: 1em 2em;
    }
}