.side-drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 75%;
    padding: 35px;
    background: #6b6868;
    z-index: 200;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;

    &--open {
        transform: translateX(0);
    }
    
    &--close {
        transform: translateX(-100%);
    }
}



@media (min-width: 500px) {
    .side-drawer {
        display: none;
    }
}