.orderSummary {
    &__heading {
        text-align: center;
        color: #e76005;
    }

    &__list-item {
        margin: 4px 0px;
    }

    &__btn-wrap {
        display: flex;
        justify-content: space-between;
        margin: 1.1em 0 1em;
    }
}

@media (min-height: 375px) {
    .orderSummary {
        &__list-item {
            margin: 5px 0px;
        }

        &__btn-wrap {
            margin: 3em 0 1em;
        }
    }
}