.side-drawer-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 42px;
    height: 100%;
    padding: 9px 0;
    box-sizing: border-box;
    cursor: pointer;

    &__part {
        background: #fff;
        width: 100%;
        height: 6px;
        border-radius: 5px;
    }
}

@media (min-width: 500px) {
    .side-drawer-toggle {
        display: none;
    }
}