.contact-data {
    width: 90%;
    margin: 2em auto;
    padding: 1.5em;
    font-size: 0.9em;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    background: #f8f8ee;
    
    &__form {
        margin: 2.7em 0 1em;
    }

    &__heading {
        margin: 0.83em auto;
        width: 80%;
    }

    &__btn {
        margin-top: 1em;
    }
}

@media (min-width: 420px) {
    .contact-data {
        width: 400px;
        font-size: 1em;
    }
}

@media (min-width: 600px) {
    .contact-data {
        width: 500px;

        &__heading {
            margin: 0.83em 0;
            width: 100%;
        }
    }
}