.input {
    margin: 1.5em 0;

    &__elem {
        display: block;
        width: 100%;
        padding: 0.7em;
        outline: none;
        font-size: 1em;
        box-sizing: border-box;
        background: #fff;
        border: 1px solid #ccc;

        &--invalid {
            background: #fbdfe7;
            border: 1px solid red;
        }

        &:focus {
            background: #eff2ef;
        }
    }

    &__select-option {
        background: #fff;
        padding: 1em;
    }

    &__label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        text-align: left;
    }
}