@import 'src/styles/variables';

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 2em 0;
    padding: 0;
    list-style: none;

    &__item {
        margin: 0;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: 100%;
        padding: 10px 0;
        font-size: 1.2em;
    }

    &__link {
        height: 100%;
        box-sizing: border-box;
        text-decoration: none;
        color: #fff;

        &:hover,
        // &:active
        &--active {
            color: $yellow;
        }
    }
}

@media (min-width: 500px) {
    .nav-items {
        flex-direction: row;
        align-items: center;
        margin: 0;
        
        &__item {
            padding: 0;
            font-size: 1em;
        }
    
        &__link {
            display: flex;
            align-items: center;
            padding: 0 15px;
            border-bottom: 4px solid transparent;

            &:hover,
            // &:active
            &--active {
                background: $yellow;
                border-bottom: 4px solid #c5b39b;
                color: #3b3030;
            }
        }
    }
}