@import 'src/styles/variables';

.btn-default {
    width: 90px;
    padding: 0.3em;
    font: inherit;
    font-size: 1.1em;
    background: #f9f9f9;
    border: 1px solid #b6b5b7a1;
    box-shadow: 1px 1px 2px #cbcd8c;
    cursor: pointer;
    outline: none;
    // transform: scale(1);
    transition: all .2s ease-in-out; // all for animation on mouseover and mouseout!

    &:hover {
        background: #f7ad0d;
        border: 1px solid #eea11eb3;
        transform: scale(1.05);
        // transition: transform .2s ease-in-out;
    }

    &:disabled {
        background: $disabled-btn;
        border: 1px solid #bdb7c2a1;
        color: #735656;
        transform: none;
        cursor: not-allowed;
    }

    &--strong {
        width: 140px;
        padding: 0.7em;
        background: #dd6c22;
        border: 1px solid #cc7070;
        box-shadow: 1px 1px 2px #8c8c8c;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            background: #c44f01;
        }

        &:disabled {
            background: $disabled-btn;
            box-shadow: 1px 1px 2px #cbcd8c;
        }
    }

    &--danger {
        width: 130px;
        background: $dark-gray;
        border: 1px solid #787575;

        &:hover {
            background: #6a6d61;
            border: 1px solid #6f6161;
        }
    }

    &--success {
        width: 130px;
        background: $green;
        border: 1px solid #108f2f;

        &:hover {
            background: #116c11;
            border: 1px solid #33632fb3;
        }
    }
}
